body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inputs{
padding: 10px 30px;
font-size: 20pt;
}
.buttons{
    padding: 10px 20px;
    font-size: 15pt;
}